
<div id="title2_black">
  <%= @recipe.title %>
</div>
<div id ="title4_gray">by <%= @author_recipe.name %> on <%= @recipe.created_at.strftime("%B %d, %Y") %></div>
<div>
  <font size="1" style="font-size:12px; color:gray;">
    <% if @myfavourite == nil %>
      Create An Account
    <% elsif @myfavourite == false %>
      <%= link_to "add to my book", :action => 'create', :controller => 'recipefavourites', :user_id => current_user, :recipe_id => @recipe %> 
    <% elsif @myfavourite == true %>
      This is in your book
    <% else %>
    <% end %>
  </font>
</div>











