
<div id="page">

  <div id="mybook_title">
    <%= render 'users/header' %>
  </div>

  <div id="mybook_col1" >
    <%= render 'recipe_new_form' %>
  </div>

  <div id="instructions_column" >
    <%= image_tag 'instructions_recipe.gif' %>
  </div>

</div>









