/*
    Document   : newCascadeStyleSheet
    Created on : 9-Mar-2011, 3:03:05 PM
    Author     : Lee Hulse-Smith
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div.field, div.actions {
  
 }

.input {
  border: 1;
  position: absolute;
  font-size:1.2em;
  color:black;
  font-family:Georgia,Arial;
  line-height:1.1em;
  resize: none;
}

#titlefield {width: 400px; top: 660px; left:10px;}
#titlelabel {top: 640px; left: 10px;}

#privatefield {top: -15px; left: 210px;}
#privatelabel {top: -15px; left: 10px;}

#ingredfield {width: 400px; top: 30px; height: 230px; left:10px;}
#ingredlabel {top: 10px; left: 10px;}

#instructfield {width: 400px; top: 300px; height: 320px; left:10px;}
#instructlabel {top: 280px; left:10px;}

#coursefield {width: 100px; top: 720px; left: 10px;}
#courselabel {top: 700px; left: 10px;}

#prepfield {width: 80px; top: 720px; left: 130px;}
#preplabel {top: 700px; left: 130px;}

#cookfield {width: 80px; top: 720px; left: 230px;}
#cooklabel {top: 700px; left: 230px;}

#yieldfield {width: 80px; top: 720px; left: 330px;}
#yieldlabel {top: 700px; left: 330px;}

#foodchecks {top: 785px; left: 30px; width: 520px;}
#foodlabel {top: 760px; left: 10px;}

#submit {top: 930px; left: 320px;}



#storytitlefield {width: 340px; top: 750px; left:10px;}
#storytitlelabel {top: 730px; left: 10px;}

#storyphotofield {width: 340px; top: 845px; left:10px;}
#storyphotolabel {top: 825px; left: 10px;}

#storyfield {width: 340px; top: 125px; height: 585px; left:10px;}
#storylabel {top: 105px; left: 10px;}

#sweetsourfield {width: 120px; top: 790px; left: 130px;}
#sweetsourlabel {top: 793px; left: 10px;}

#lifechecks {top: 915px; left: 10px; width: 400px;}
#lifelabel {top: 890px; left: 10px;}

#storysubmit {top: 1070px; left: 10px;}