/*
    Document   : newCascadeStyleSheet
    Created on : 9-Mar-2011, 3:03:05 PM
    Author     : Lee Hulse-Smith
    Description: Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* -----------------------------------*/
/* ---------->>> CONSTANTS <<<--------*/
/* -----------------------------------*/

a { color: gray; text-decoration: none;}
a:visited { color: gray; }
a:hover { color: blue; }

#title6_red {font-family:Georgia,Arial; font-size:1.1em; color: rgb(252,21,21);}

#title2_org {font-family:Georgia,Arial; font-size:1.6m; line-height:1.5em; color: #FFC81F;}
#title4_org {font-family:Georgia,Arial; font-size:1.3em; line-height:1.5em; color: #FFC81F;}
#title5_org {font-family:Georgia,Arial; font-size:1.2em; line-height:1.5em; color: #FFC81F;}
#title6_org {font-family:Georgia,Arial; font-size:1.1em; line-height:1.5em; color: #FFC81F;}
#title8_org {font-family:Georgia,Arial; font-size:0.9em; line-height:1.5em; color: #FFC81F;}


#title0_black {font-family:Georgia,Arial; font-size:2.0em; line-height:1.5em; color: black;}
#title1_black {font-family:Georgia,Arial; font-size:1.8em; line-height:1.5em; color: black;}
#title2_black {font-family:Georgia,Arial; font-size:1.6em; line-height:1.5em; color: black;}
#title3_black {font-family:Georgia,Arial; font-size:1.4em; line-height:1.5em; color: black;}
#title4_black A {font-family:Georgia,Arial; font-size:1.3em; line-height:1.5em; color: black;}
#title4_black A:hover {color: blue;}
#title5_black {font-family:Georgia,Arial; font-size:1.2em; line-height:1.5em; color: black;}
#title6_black {font-family:Georgia,Arial; font-size:1.1em; line-height:1.5em; color: black;}
#title7_black {font-family:Georgia,Arial; font-size:1.0em; line-height:1.5em; color: black;}
#title8_black {font-family:Georgia,Arial; font-size:0.9em; line-height:1.5em; color: black;}
#title9_black {font-family:Georgia,Arial; font-size:0.8em; line-height:1.5em; color: black;}
#title10_black {font-family:Georgia,Arial; font-size:0.7em; line-height:1.5em; color: black;}

#title4_gray {font-family:Georgia,Arial; font-size:1.3em; line-height:1.5em; color: gray;}
#title5_gray {font-family:Georgia,Arial; font-size:1.2em; line-height:1.5em; color: gray;}
#title6_gray {font-family:Georgia,Arial; font-size:1.1em; line-height:1.5em; color: gray;}
#title7_gray {font-family:Georgia,Arial; font-size:1.0em; line-height:1.5em; color: gray;}
#title8_gray {font-family:Georgia,Arial; font-size:0.9em; line-height:1.5em; color: gray;}
#title9_gray {font-family:Georgia,Arial; font-size:0.8em; line-height:1.5em; color: gray;}
#title10_gray {font-family:Georgia,Arial; font-size:0.7em; line-height:1.5em; color: gray;}

#title6_green {font-family:Georgia,Arial; font-size:1.1em; line-height:1.5em; color: rgb(0,153,51);}

#title9_org A {font-family:Georgia,Arial; font-size:0.8em; line-height:1.5em; color: gray;}
#title9_org A:hover {color: orange;}

#title9_grn A {font-family:Georgia,Arial; font-size:0.8em; line-height:1.5em; color: gray;}
#title9_grn A:hover {color: rgb(0,153,51);}


#highlight_org A {font-family:Georgia,Arial; font-size:0.8em; color: orange;}
#highlight_grn A {font-family:Georgia,Arial; font-size:0.8em; color: green;}

/* -----------------------------------------*/
/* ---------->>> HOME & ABOUT <<<-----------*/
/* -----------------------------------------*/

#page {
  position: absolute;
  top: 105px;
  left: 90px;
  width: 780px;
  height: 1110px;  
}

.skinny_page {
  position: absolute;
  top: 105px;
  left: 245px;
  width: 460px;
  height: 1110px;
  border-style: none;
}

#LogoQuote {
  position: absolute;
  top: 10px;
  left: -10px;
}

#arrow1{position: absolute; top: -20px; left:130px;}
#arrow2{position: absolute; top: -20px; left:300px;}
#arrow3{position: absolute; top: -20px; left:480px;}
#arrow4{position: absolute; top: -20px; left:650px;}

#home_quote {
  position: absolute;
  font-size:2.0em;
  color:gray;
  font-family:Georgia,Arial;
  line-height:1.2em;
  top: 380px;
  left: 150px;
  height: 100px;
  width: 480px;
  text-align: center;
}

#recipe_shortcut {
  position: absolute;
  font-size:1.2em;
  color:gray;
  font-family:Georgia,Arial;
  top: 500px;
  left: 150px;
  height: 100px;
  width: 480px;
  text-align: center;
}

#recipe_shortcut_error {
  position: absolute;
  font-size:1.2em;
  color:red;
  font-family:Georgia,Arial;
  top: 530px;
  left: 364px;
}

/* -------------------------------------*/
/* ---------->>> NEW USER <<<-----------*/
/* -------------------------------------*/

#new_user_col1 {
  position: absolute;
  top: 180px;
  left: 5px;
  width: 250px;
  height: 700px;  
}

#new_user_col2 {
  position: absolute;
  top: 180px;
  left: 290px;
  width: 250px;
  height: 700px;  
}

#new_user_col3 {
  position: absolute;
  top: 180px;
  left: 572px;
  width: 180px;
  height: 700px;  
}

/* ------------------------------------------------------*/
/* ---------->>> INDEX - USERS and VIEWERS <<<-----------*/
/* ------------------------------------------------------*/

.pagination {
  font-family:Georgia,Arial;
  font-size:1.5em;
  line-height:1.5em;
  color: grey;
}

#pagination_user_top {
  position: absolute;
  width: 150px;
  text-align: left;
  top: -205px;
  right: -75px;
}

#pagination_viewer_top {
  position: absolute;
  width: 150px;
  text-align: left;
  top: -145px;
  right: -75px;
}

#action_labels {
  position: absolute;
  top: -100px;
  right: -45px;
}

#mybook_title {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 760px;
  height: 153px;
}

#mybook_col1 {
  position: absolute;
  top: 170px;
  left: 30px;
  width: 720px;
  height: 870px;  
}

#viewer_col1 {
  position: absolute;
  top: 110px;
  left: 30px;
  width: 720px;
  height: 840px;
}

/* --------------------------------------------------------*/
/* ---------->>> DISPLAY RECIPES AND STORIES <<<-----------*/
/* --------------------------------------------------------*/

#column1 {
  position: absolute;
  top: 125px;
  left: 70px;
  width: 390px;
  height: 1090px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: none dashed none none;
  border-color: lightgrey;  
}

#column2 {
  position: absolute;
  top: 125px;
  left: 502px;
  width: 350px;
  height: 1090px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: none none none none;
  border-color: lightgrey;
  }

#column1_add_story {
  position: absolute;
  top: 125px;
  left: 70px;
  width: 390px;
  height: 1090px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: none none none none;
  border-color: lightgrey;
}
#picture {
  width: 250px;
  height: 250px;
  border-style: double;
  border-color: lightgrey;
  text-align: center;
}

#recipebackground {
  position: absolute;
  top: -60px;
  left: -10px;    
}

.recipe_number {
  position: absolute;
  top: -30px;
  left: 5px;
}

.ref_for_friend {
  position: absolute;
  top: -17px;
  right: 30px;
  width: 250px;
  text-align: right;
}

#heart {
  position: absolute;
  top: -5px;
  left: -25px;
}

#pagination_story_top {
  position: absolute;
  font-size:1.0em;
  width: 360px;
  height: 50px;
  text-align: center;
  top: -20px;
  
}
/* -----------------------------------*/
/* ---------->>> FOOTER <<<-----------*/
/* -----------------------------------*/

#footer {
  background: #0f0;
  position: absolute;
  top: 500px;
  left: 0px;
  width: 800px;
  height: 100px;
}
