/*
    Document   : newCascadeStyleSheet
    Created on : 9-Mar-2011, 3:03:05 PM
    Author     : Lee Hulse-Smith
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}

#start {
  margin-left:auto;
  margin-right:auto;
  background: #fff;
  position: relative;
  width: 910px;
  height: 900px;
  }

.tab {
  left:0px;
  position: absolute;
  text-decoration: none;
}

#tab_home{top:50px}
#tab_about{top:105px}
#tab_courses{top:200px}
#tab_lifeissweet{top:254px}
#tab_biteme{top:313px}
#tab_mybook{top:420px}

#titlefont {font-size:1.6em; color: rgb(252,21,21);}
#pfont {font-size:1.2em; font-family:Georgia,Arial; line-height:1.5em;}

#page1 {
  position: absolute;
  top: 25px;
  left: 80px;
  width: 380px;
  height: 590px;
}

#page2 {
  position: absolute;
  top: 25px;
  left: 515px;
  width: 380px;
  height: 590px;
  }
#LogoQuote {
  position: relative;
  top: 130px;
  left: 30px;
  width: 320px;
  height: 400px;
  text-align: center;
}

#footer {
  background: #0f0;
  position: absolute;
  top: 500px;
  left: 0px;
  width: 800px;
  height: 100px;
}
