
<!-- Pagination Top -->
<div class ="pagination" id="pagination_user_top" >
  <%= render 'paginate' %>
</div>

<!--  Story Table -->

 <% if (@stories != nil  && @stories.count != 0) %>
 <br/>
  <table width = "720">
   <% last_date = nil %>
   <%@stories.each do |story| %>
    <tr>
      <td width ="160"><div id="title4_gray">
        <% if last_date != story.created_at.strftime("%B %Y").to_s %>
          <%= story.created_at.strftime("%B %Y").to_s %></div>
        <% end %>
      </td>
      <td><div id="title4_black">
         <%= link_to story.title_concat(41), story_path(:id => story.id, :query => @query) %></div></td>
    </tr>
   <% last_date = story.created_at.strftime("%B %Y").to_s %>
   <% end %>  
  </table>
 <% else %>
    <br/><div id="title8_gray">An empty page, begging to be filled.</div>
 <% end %>

 <br/>
 <div class ="pagination" align ="center" >
   <%= render 'paginate' %>
 </div>



 


  
  


