<div align="center">
<p id ="title4_org" >Welcome to your scrapbook! Here are some tips to get you started.</p>

<div id ="title6_gray">
  When you find a recipe you like,<br/> just click the heart
</div>
<%= image_tag 'grey_heart.gif' %>

<div id ="title6_gray">
  The 'my book' tab always gets you <br/>back to your scrapbook
</div>
<%= image_tag 'helper_tab.gif' %>

<div id ="title6_gray">
  Once a recipe is in your scrapbook,<br/>you can add as many stories as you like
</div>
<%= image_tag 'story_guy.gif' %>


</div>
