<div id="page">

  <%= image_tag 'sign_in_header.gif' %>

  <div id="new_user_col1">
    <%= render 'signin_form' %>
  </div>

  <div id="new_user_col2">
    <%= render 'signup_form' %>
  </div>
  
  <div id="new_user_col3" align="center">
    <div id="title8_black">Them go get some.</div>
    <br/>
    <div id="title8_black">Oh! Get me some too!</div>
  </div>
  
  
</div>
