<div id="page1">
  <%= image_tag('logo_mid.png') %>
  <p></p>
  
  
  
</div>
<div id="page2">
  <br/>
  <p id ="titlefont">How it began...</p>
  <p id ="pfont">Towards the end of the year, Vanessa bakes a single batch of the
  most delicious ginger molasse cookies I have ever tasted, and brings them to work. I'm
  never quite sure which day they will arrive, so when word finally reaches me
  , it's always an unexpected surprise.</p>
  <p id ="pfont">First I swing by Tim Horton's for a coffee (large, 2 milk), and then calmly
  make my way to the forensic laboratory office, where I'm sure to find them.
  I grab as many as I can without looking too greedy.  If I'm forced, I'll lie and say
  that I'm also collecting for others.  After showering Vanessa with praise, I
  disappear to enjoy these wonderful treats alone. I take small bites between
  sips of coffee, and for the next 10 minutes, I might as well not even be on
  the planet.</p>
  <p id ="pfont">Vanessa strictly controls the supply and demand chain. She only makes them once
  a year, and refuses to give up the recipe. To me, this makes them taste even better.
  She calls them her <b>Dead Grandma Cookies</b>.</p>
</div>

