<div id="page">
  <%= image_tag('logo_mid.png') %>
  <br/>

  <p id ="titlefont">Recipe websites suck!</p>
  <p id ="pfont">
  Okay, they don't completely suck. But I'm really starting to feel like an unwelcome
  visitor. Yes, these websites contain an awful lot of recipes. But why are the recipes always
  in 2pt font, and surrounded by massive advertising banners?
  </p>

  <p id ="titlefont">Welcome!</p>
  <p id ="pfont">
  We believe that a recipe website should be more than just a collection of recipes.
  It should feel like your own personal scrapbook.  And like any good scrapbook, you
  should be able to attach your stories and memories to the recipes you collect.  And
  finally, you should have a 'maybe' pile to bookmark those recipes you find online that
  are not yet 'scrapbook' worthy.
  </p>

  <p>This is that website.  </p>
  
</div>

