<div class="skinny_page">
  <%= image_tag('about_logo.gif') %>

  <p id ="title6_black">
    We have this awesome cooking scrapbook in our kitchen.  It’s thick, black,
    and covered in all kinds of food stains.  Only kick-ass amazing recipes are
    allowed in, while anything untested gets stuffed into a small wooden box.
  </p>
  <p id ="title6_black">
    But our scrapbook is more than just a collection of great food...
  </p>
  <p id ="title6_black">
    We leave lots of room next to each recipe to add thoughts, notes, stories,
    even pictures.  Like the time my wife made brownies, which tasted oddly
    like beef.  I still ate them.  Over time we have found this to be a
    beautiful way to collect our recipes and memories.
  </p>
  <p id ="title6_black">
    So we decided to bring this concept online.  We even brought the small wooden box!
  </p>
  <p id ="title6_black">
    Here’s how it works:
  </p>
  <ul id ="title6_black">
    <li>Create your own personal scrapbook</li>
    <li>Add your own recipes and divide them into 'keeper' and 'maybe' piles</li>
    <li>Browse recipes added by others and put these in your scrapbook too</li>
    <li>Attach stories and pictures to any recipe in your scrapbook</li>
    <li>Watch others try your recipes and read their stories!</li>
  </ul>
  <p id ="title6_black">
    Oh, and recipe rating are based on your actions, not your words.  If you
    add a recipe to your keeper pile, it receives a higher rating.  Meanwhile if you
    reject a recipe from your scrapbook because you don’t like it, it receives
    a lower rating.  Easy peasy!
  </p>
</div>


