<div id="page">
  <%= image_tag('about_logo.gif') %>
  <br/>

  
  <p id ="title1_red">We believe:</p>
  <ul id ="title7_black">
    <li>Recipes are beautiful.</li><br/>
    <li>Your online recipe collection should feel like your own personal scrapbook.</li><br/>
    <li>There are always two piles; keeper's and maybe's.</li><br/>
    <li>The best compliment a recipe can receive is to be added to someones keeper pile.</li><br/>
    <li>When you share a recipe, you should get to read all the wonderful stories it inspires</li>

  </ul>
  
</div>

