
<div id="column1_add_story">
  <%= render 'recipes/header' %>
  <div id="instructions_story"><%= image_tag 'instructions_story.gif' %></div>
 </div>

<div id="column2">
  <%= render 'story_new_form' %>
</div>


